.main.container { 
    padding: 0 60px 60px;
}

#personal_info { 
    margin-top: 2.5rem;
}

#personal_info > ul { 
    list-style-type: none;
}

.subinformation { 
    font-size: 17px;
    display: contents;
}

.row_header { 
    color: #237bc8;
    font-family: "Open Sans", sans-serif;
}

.list { 
    list-style: "- ";
    padding-left: 1rem;
}

.company_row { 
    margin-bottom: 30px;
}

.company_row span { 
    font-size: small;
}

.company_row .sub_description { 
    font-size: 15px;
}

.blue-color { 
    color: #3c78d8;
}

.gray-color { 
    color: #384347;
}

.card-row { 
    margin-top: 1rem;
}

.card-row > h2 { 
    display: inline-block;
    border-bottom: 0.1rem solid #384347;
    width: 100%;
}

hr.new1 { 
    border-top: 0.2rem dashed lightgray;
}

.card-row > hr { 
    border-top: 0.2rem dashed lightgray;
}

.item > h3 {
    margin-top: -7px;
}

.skill-item { 
    display: inline-block;
    border-bottom: 0.1rem solid #384347;
    margin: 0 5px;
}