<!doctype html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <title>Jacob portfolio</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700|Merriweather:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Styles -->
        <link rel="stylesheet" href="{{ "/assets/css/animate.min.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/assets/css/resume.css" | prepend: site.baseurl }}">
    </head>
    <body>
        <div class="main container" id="top">
            <p>
                <span style="float: right; "><a href="/assets/JacobResumeV2.pdf"><strong>&gt; Download as PDF</strong></a> </span>
                <br />
            </p>
            <!-- Personal info row -->
            <div id="personal_info">
                <h1 class="page-title">
                    <div class="page-title__text">Jacob Earl G. Potolin</div>
                </h1>
                <ul class="subinformation">
                    <li>Cebu City, Philippines 6000</li>
                    <li>0961-620-0433</li>
                    <li>jake.braul@gmail.com</li>
                </ul>
            </div>
            <!-- Skill Highlights row -->
            <div id="skill_highlight_row">
                <h3 class="row_header">SKILL HIGHLIGHT</h3>
                <ul class="list">
                    <li>Agile/Scrum methodology</li>
                    <li>Swift</li>
                    <li>SwiftUI</li>
                    <li>UIKit</li>
                    <li>MVVM</li>
                    <li>MVC</li>
                    <li>PHP</li>
                    <li>HTML/CSS/Javascript</li>
                    <li>Angular</li>
                </ul>
            </div>
            <!-- Work Experience row -->
            <div id="work_experience_row">
                <h3 class="row_header">WORK EXPERIENCE</h3>
                <div class="company_row">
                    <h4>Domestic Cat Software, <span>Melbourne, Victoria, Australia - iOS Developer</span></h4>
                    <span class="sub_description">SEPTEMBER 2022 - PRESENT</span>
                </div>
                <div class="company_row">
                    <h4>Freelance <span> — iOS Developer</span></h4>
                    <span class="sub_description">JUNE 2022 - PRESENT</span>
                </div>
                <div class="company_row">
                    <h4>Cody Web Development  Inc., <span>6000 Cebu, Cebu City, PH 2F Corner of Juana Osmeña and Maria Cristina Streets — iOS Developer</span></h4>
                    <span class="sub_description">AUGUST 2020 - AUGUST 2022</span>
                </div>
                <div class="company_row">
                    <h4>Forty Degrees Celsius Inc.,<span>Park Centrale IT Park Cebu City — Web Developer / iOS Developer</span></h4>
                    <span class="sub_description">JUNE 2015 - AUGUST 2020</span>
                </div>
            </div>
            <!-- Projects row -->
            <div id="projects_row">
                <h3 class="row_header">PROJECTS</h3>
                <div class="company_row">
                    <h4>Templ <span>(Domestic Cat Software)</span></h4>
                    <span class="sub_description">Fitness app that helps people get relief from pain and mobility problems due to musculoskeletal issues.</span>
                </div>
                <div class="company_row">
                    <h4>名刺DE請求 <span>(Cody Web Development  Inc.)</span></h4>
                    <span class="sub_description">A business card management app. Where you can add contacts, find jobs, send invoice to contacts.</span>
                </div>
                <div class="company_row">
                    <h4>MacheTalk <span>(Forty Degrees Celsius Inc.)</span></h4>
                    <span class="sub_description">A live viewing application that allows you to have a "two-handed" conversation like a video call ♪ Enjoy real-time communication!</span>
                </div>
                <div class="company_row">
                    <h4>MacheTalk Live <span>(Forty Degrees Celsius Inc.)</span></h4>
                    <span class="sub_description">Live streaming app that makes friends with a little killing time!</span>
                </div>
                <div class="company_row">
                    <h4>NativeCamp. <span>(Forty Degrees Celsius Inc.)</span></h4>
                    <span class="sub_description">NativeCamp is an ESL online tutoring school in Japan. Lessons are provided via unique language platform. NativeCamp is one of the rare online schools in the world that does not use Skype.</span>
                </div>
            </div>
            <!-- Education row -->
            <div id="education_row">
                <h3 class="row_header">EDUCATION</h3>
                <div class="company_row">
                    <h4>Asian College of Technology, <span>Cebu City Philippines</span></h4>
                    <span class="sub_description">2011 - 2015</span>
                </div>
            </div>
            <!-- Awards -->
            <div id="awards_row">
                <h3 class="row_header">AWARDS</h3>
                <div class="company_row">
                    <h4>Cum Laude <span>Asian College of Technology, Cebu City Philippines</span></h4>
                </div>
            </div>
            <!-- <p><code class="language-plaintext highlighter-rouge">I can write in Swift and Objective-C for iOS, Kotlin and Java for Android, Dart for Flutter, and Ruby for Rails. I am also doing some devops stuff, so I am knowledgeable about AWS, DigitalOcean, and Microsoft Azure. For the soft skills, I do know Jira, Office tools, ClickUp, and Asana for project management tools and Git for version control.</code></p>
            
            <h3 id="projects">PROJECTS</h3>
             
            <p>Senior iOS Engineer - <strong>Collabera PH</strong> <span style="float: right; ">February 2022 - Current</span><br />
            Developing high level apps for clients like Mynt and UnionDigital. Part of the architectural planning and decision making in terms of implementing structures and guidelines.<br />
            Flutter, Swift, RxSwift, Fastlane, MVVM, Coordinator pattern</p>
            
            <p>Assistant Technical Lead - <strong>CODY Web Development</strong> <span style="float: right; ">March 2021- February 2022</span><br />
            Leading more or less 10 iOS Engineers and part of the operation planning.<br />
            Swift, RxSwift, Fastlane, MVVM, ReactiveSwift</p>
            
            <p>Senior iOS Engineer - <strong>CODY Web Development</strong> <span style="float: right; ">May 2020 - March 2021</span><br />
            Developed one app, but I anticipate every iOS project.<br />
            Swift, RxSwift, Fastlane, MVVM, ReactiveSwift</p>
            
            <p>Lead iOS / Software Engineer / Head IT Philippines - <strong>WeAreChurPhilippines</strong> <span style="float: right; ">January 2019 - May 2020</span><br />
            Developed iOT related apps, since the goal of the company is to implement smart cities. Was part of client meetings, to give technical side opinions.<br />
            Swift, RxSwift, Fastlane, MVVM, ReactiveSwift, GoLang, Kotlin</p>
            
            <p>Web and Mobile Development Engineer - <strong>Gorated Innovation Labs</strong> <span style="float: right; ">August 2017 - Jan 2019</span><br />
            Developed a lot of apps mostly iOS and backends.<br />
            Ruby, Rails, Vue, React, Swift, Objective-C, MVVM, Fastlane, GraphQL, Capistrano, Azure, AWS</p>
            
            <p>Web Developer(Intern) - <strong>Gorated Innovation Labs</strong> <span style="float: right; ">April 2017 - July 2017</span><br />
            Developed and maintained backend projects.<br />
            Ruby, Rails, Capistrano, Azure</p>
            
            <h3 id="education">EDUCATION</h3>
            
            <p>STI College <span style="float: right; ">2014 - 2018</span><br />
            <strong>Bachelor of Science in Information Technology</strong></p>
            
            <p>University of the East <span style="float: right; ">2013 - 2014</span><br />
            <strong>Bachelor of Science in Information Technology</strong></p>
            
            <h3 id="interests">INTERESTS</h3>
            
            <ul>
                <li>Contribute to public libraries.</li>
                <li>Post articles regarding tech.</li>
                <li>Study possible architectures to apply.</li>
            </ul> -->
        </div>
    </body>
</html>