<!doctype html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <title>Jacob portfolio > Resume</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700|Merriweather:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Styles -->
        <link rel="stylesheet" href="{{ "/assets/css/animate.min.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/assets/css/resume.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
        <style>
            body {
                font-family: 'Open Sans';
                font-size: 12px;
            }

            h1, h2, h3 { 
                font-weight: bold;
                color: #384347;
            }
        </style>
    </head>
    <body>
        <div class="main container" id="top">
            <p>
                <span style="float: right; "><a href="/assets/JacobResumeV2.pdf"><strong>&gt; Download as PDF</strong></a> </span>
                <br />
            </p>
            <!-- Personal info row -->
            <div id="personal_info">
                <h1 class="page-title">
                    <div class="page-title__text">Jacob Earl G. Potolin</div>
                </h1>
                <h2 class="blue-color">iOS Developer</h2>
                <div class="row">
                    <div class="col-sm-4">
                        📞 0961-620-0433
                    </div>
                    <div class="col-sm-4">
                        📬 jake.braul@gmail.com
                    </div>
                    <div class="col-sm-4">
                        🔗 linkedin.com/in/jacob-earl-p-9b06a8b3/
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        📍 Cebu City, Philippines
                    </div>
                    <div class="col-sm-4">
                        🔗 jacobearlp.github.io
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="card-row">
                        <h2>SUMMARY</h2>
                        <div class="description">
                            A seasoned iOS Developer with 8+ years of expertise in delivering high-quality mobile applications. Expert in Swift, iOS development, web development, and pursuing mobile excellence. Demonstrated leadership in managing teams and solo projects effectively. Adept at problem-solving and adapting to new technologies. Seeking to leverage deep technical skills in a challenging iOS Developer role to drive innovation and contribute to team success.
                        </div>
                    </div>
                    <div class="card-row">
                        <h2>EXPERIENCE</h2>
                        <div class="item">
                            <h2>iOS Developer</h2>
                            <h3 class="blue-color">Quantrics Enterprise Inc.</h3>
                            <div class="date-location row">
                                <div class="col-sm-3">
                                    🗓️ 05/2023 - Present
                                </div>
                                <div class="col-sm">
                                    📍 Taytay Rizal, Philippines
                                </div>
                            </div>
                            <ul class="list">
                                <li>Played a key role in the development of a few projects, collaborating with a team of iOS developers to deliver key features and functionalities.</li>
                                <li>Worked closely with team members to troubleshoot issues, optimize performance, and ensure project milestones were met on each sprint.</li>
                                <li>Successfully worked with developers from diverse nationalities and cultural backgrounds, fostering a collaborative and inclusive team environment.</li>
                                <li>Demonstrated key project milestones and gathered feedback to ensure alignment with stakeholder expectations.</li>
                            </ul>
                        </div>
                        <hr>
                        <div class="item">
                            <h2>iOS Developer</h2>
                            <h3 class="blue-color">Time Machine Co., Ltd.</h3>
                            <div class="date-location row">
                                <div class="col-sm-3">
                                    🗓️ 05/2022 - 05/2023
                                </div>
                                <div class="col-sm">
                                    📍 Shibuya-ku, Tokyo
                                </div>
                            </div>
                            <ul class="list">
                                <li>Independently managed the full lifecycle of the app development, from concept through delivery and post-launch support.</li>
                                <li>Solely responsible for the development and maintenance, ensuring robust performance and user satisfaction.</li>
                                <li>Collaborated closely with the Chief Technology Officer (CTO) to implement new features and optimize the performance of the app.</li>
                            </ul>
                        </div>
                        <hr>
                        <div class="item">
                            <h2>iOS Developer</h2>
                            <h3 class="blue-color">Domestic Cat Software</h3>
                            <div class="date-location row">
                                <div class="col-sm-3">
                                    🗓️ 09/2022 - 01/2023
                                </div>
                                <div class="col-sm">
                                    📍 Melbourne, Victoria, Australia
                                </div>
                            </div>
                            <ul class="list">
                                <li>Conducted code reviews, provided feedback, and resolved technical issues to maintain high-quality codebase and application performance.</li>
                                <li>Crafted and maintained technical documentation, ensuring seamless onboarding for new developers and clear understanding among non-technical stakeholders.</li>
                                <li>Played a pivotal role as a key contributor in the development of an innovative fitness application, contributing to its success and user experience enhancement.</li>
                            </ul>
                        </div>
                        <hr>
                        <div class="item">
                            <h2>iOS Developer</h2>
                            <h3 class="blue-color">CODY Web Development Inc.</h3>
                            <div class="date-location row">
                                <div class="col-sm-3">
                                    🗓️ 08/2020 - 08/2022
                                </div>
                                <div class="col-sm">
                                    📍 Cebu City, Philippines
                                </div>
                            </div>
                            <ul class="list">
                                <li>Spearheaded the migration of an existing iOS app, ensuring a smooth transition and maintaining app functionality and performance.</li>
                                <li>Coordinated with cross-functional teams to develop and implement migration strategies, minimizing downtime and user disruption.</li>
                                <li>Directed and supervised a team of iOS developers throughout the entire project lifecycle, ensuring timely delivery and adherence to quality standards.</li>
                                <li>Coordinated team efforts, assigning tasks, and providing technical guidance to team members.</li>
                                <li>Conducted code reviews, provided feedback, and resolved technical issues to maintain high-quality codebase and application performance.</li>
                            </ul>
                        </div>
                        <hr>
                        <div class="item">
                            <h2>iOS Developer / Back-end Developer</h2>
                            <h3 class="blue-color">Forty Degrees Celsius Inc.</h3>
                            <div class="date-location row">
                                <div class="col-sm-3">
                                    🗓️ 05/2015 - 07/2020
                                </div>
                                <div class="col-sm">
                                    📍 Cebu City, Philippines
                                </div>
                            </div>
                            <ul class="list">
                                <li>Pioneered the API Team to support the mobile development teams.</li>
                                <li>Played a pivotal role as a key contributor in the development of an innovative online ESL application, contributing to its success and user experience enhancement.</li>
                                <li>Pioneered the Teacher Exam Feature.</li>
                                <li>Optimized SQL queries and function logic to enhance the system’s overall efficiency.</li>
                                <li>Delivered proficient troubleshooting and effective remediation for web applications, swiftly addressing issues and minimizing disruptions.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-row">
                        <h2>EDUCATION</h2>
                        <div class="item">
                            <h2>Bachelor of Science: Information Technology</h2>
                            <h3 class="blue-color">Asian College of Technology</h3>
                            <div class="date-location row">
                                <div class="col-sm-3">
                                    🗓️ 06/2011 - 03/2015
                                </div>
                                <div class="col-sm">
                                    📍 Cebu City, Philippines
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card-row">
                        <h2>PROJECTS</h2>
                        <div class="item">
                            <h2>名刺DE請求</h2>
                            <div class="description">
                                Solely managed the full lifecycle of the app development, from concept through delivery and post-launch support. 
                                <br>
                                <a href="https://apps.apple.com/us/app/%E5%90%8D%E5%88%BAde%E8%AB%8B%E6%B1%82/id1627405079">App link</a>
                            </div>
                        </div>
                        <hr>
                        <div class="item">
                            <h2>JINS</h2>
                            <div class="description">Spearheaded the migration of an existing iOS app to use Shopify API. The app is used by the staff in-store to find JINS products, create orders, create eye appointments, and track the order.
                                <br>
                                <a href="https://www.jins.com/jp/">www.jins.com/jp/</a>
                            </div>
                        </div>
                        <hr>
                        <div class="item">
                            <h2>Templ</h2>
                            <div class="description">Played a pivotal role in developing and launching the fitness application, captivating a wide audience ensuring a seamless user experience.
                                <br>
                                <a href="https://www.templapp.com/">www.templapp.com</a>
                            </div>
                        </div>
                        <hr>
                        <div class="item">
                            <h2>Machetalk</h2>
                            <div class="description">
                                Pioneered the development of Machetalk. Developed few features, login, home feed, user profile and settings feature to be specific. Lead the iOS Development team.
                                <br>
                                <a href="https://machetalk.jp/">machetalk.jp</a>
                            </div>
                        </div>
                        <hr>
                        <div class="item">
                            <h2>NativeCamp</h2>
                            <div class="description">
                                Developed a few web features. Pioneered the API team to support mobile (iOS and Android). NativeCamp is one of the leading online language platforms.
                                <br>
                                <a href="https://nativecamp.net/">nativecamp.net</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-row">
                        <h2>ACHIEVEMENTS</h2>
                        <div class="item">
                            <h2>🎖️ Skyway Migration Recognition</h2>
                            <div class="description">
                                Acknowledged by the Company for the successful migration to WebRTC technology, resulting in enhanced web application performance and significant cost savings for the company.
                            </div>
                        </div>
                        <hr>
                        <div class="item">
                            <h2>⭐️ Launch of Teacher Exam</h2>
                            <div class="description">
                                Pioneered the web development and successfully launched Teacher Exam Feature. The feature showcases online examinations to applicants who want to be a teacher in NativeCamp.
                            </div>
                        </div>
                    </div>
                    <div class="card-row">
                        <h2>SKILLS</h2>
                        <div class="d-flex flex-wrap">
                            <div class="p-2 bd-highlight skill-item">Swift</div>
                            <div class="p-2 bd-highlight skill-item">Unit Testing</div>
                            <div class="p-2 bd-highlight skill-item">Agile Methodology</div>
                            <div class="p-2 bd-highlight skill-item">iOS Development</div>
                            <div class="p-2 bd-highlight skill-item">SwiftUI</div>
                            <div class="p-2 bd-highlight skill-item">SOLID Principles</div>
                            <div class="p-2 bd-highlight skill-item">Github Actions</div>
                            <div class="p-2 bd-highlight skill-item">MVC</div>
                            <div class="p-2 bd-highlight skill-item">MVVM-R</div>
                            <div class="p-2 bd-highlight skill-item">MVP-R</div>
                            <div class="p-2 bd-highlight skill-item">ReactiveSwift</div>
                            <div class="p-2 bd-highlight skill-item">RxSwift</div>
                            <div class="p-2 bd-highlight skill-item">Fastlane</div>
                            <div class="p-2 bd-highlight skill-item">Firebase</div>
                            <div class="p-2 bd-highlight skill-item">Javascript</div>
                            <div class="p-2 bd-highlight skill-item">Git</div>
                            <div class="p-2 bd-highlight skill-item">CSS</div>
                            <div class="p-2 bd-highlight skill-item">PHP</div>
                            <div class="p-2 bd-highlight skill-item">Laravel</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>