<!doctype html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <title>Jacob portfolio > Resume</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700|Merriweather:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Styles -->
        <link rel="stylesheet" href="{{ "/assets/css/animate.min.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/assets/css/resume.css" | prepend: site.baseurl }}">
    </head>
    <body>
        <div class="main container" id="top">
            <p>
                <span style="float: right; "><a href="/assets/JacobResumeV2.pdf"><strong>&gt; Download as PDF</strong></a> </span>
                <br />
            </p>
            <!-- Personal info row -->
            <div id="personal_info">
                <h1 class="page-title">
                    <div class="page-title__text">Jacob Earl G. Potolin</div>
                </h1>
                <ul class="subinformation">
                    <li>Cebu City, Philippines 6000</li>
                    <li>0961-620-0433</li>
                    <li>jake.braul@gmail.com</li>
                </ul>
            </div>
            <!-- Skill Highlights row -->
            <div id="skill_highlight_row">
                <h3 class="row_header">SKILL HIGHLIGHT</h3>
                <ul class="list">
                    <li>Agile/Scrum methodology</li>
                    <li>Swift</li>
                    <li>SwiftUI</li>
                    <li>UIKit</li>
                    <li>MVVM</li>
                    <li>MVC</li>
                    <li>ReactiveSwift</li>
                    <li>Cocoapods</li>
                    <li>PHP</li>
                    <li>HTML/CSS/Javascript</li>
                    <li>Angular</li>
                </ul>
            </div>
            <!-- Work Experience row -->
            <div id="work_experience_row">
                <h3 class="row_header">WORK EXPERIENCE</h3>
                <div class="company_row">
                    <h4>iOS Developer — Quantrics Enterprises Inc., <span>Taytay, Rizal, Philippines</span></h4>
                    <span class="sub_description">MAY 2023 — PRESENT</span>
                    <ul class="list">
                        <li>Collaborated with the product team to understand requirements and business specifications.</li>
                        <li>Examine and evaluate other developer's code to identify any issues, provide any feedback, and ensure that the code meets quality standards.</li>
                        <li>Presented demos to stakeholders to review and discuss the user stories completed during each sprint.</li>
                    </ul>
                </div>
                <div class="company_row">
                    <h4>iOS Developer — Domestic Cat Software, <span>Melbourne, Victoria, Australia</span></h4>
                    <span class="sub_description">SEPTEMBER 2022 — JANUARY 2023</span>
                    <ul class="list">
                        <li>Translating technical specifications, and/or logical and physical design into code.</li>
                        <li>Following the software development methodology and architecture standards.</li>
                        <li>Identifying and resolving the issues that arise in the production and/or development phase.</li>
                    </ul>
                </div>
                <!-- <div class="company_row">
                    <h4>iOS Developer — Freelance</h4>
                    <span class="sub_description">JUNE 2022 - PRESENT</span>
                    <p class="sub_description">
                        Design and build application for iOS.
                        Collaborate with the back-end team to define, design, and ship new features.
                        Ensure the performance, quality, and responsiveness of application.
                        Do code review before merging a pull request.
                    </p>
                </div> -->
                <div class="company_row">
                    <h4>iOS Developer — Cody Web Development  Inc., <span>Cebu City, Philippines</span></h4>
                    <span class="sub_description">AUGUST 2020 — AUGUST 2022</span>
                    <ul class="list">
                        <li>Worked as Solo Developer or with Team on a project.</li>  
                        <li>Translating technical specifications, and/or logical and physical design into code.</li>  
                        <li>Collaborate with the team to define, design, and ship new features.</li>  
                        <li>Ensure the performance, quality, and responsiveness of application.</li>  
                        <li>Do code review before merging a pull request.</li>  
                        <li>Published app to AppStore using Fastlane.</li>  
                    </ul>
                </div>
                <div class="company_row">
                    <h4>Web Developer / iOS Developer — Forty Degrees Celsius Inc., <span>Cebu City, Philippines </span></h4>
                    <span class="sub_description">JUNE 2015 — AUGUST 2020</span>
                    <ul class="list">
                        <li>Developed a few apps mostly iOS, Web, and backend.</li>
                        <li>Created API endpoints and ensuring that it works efficiently when used by Web, iOS, and Android platforms.  </li>
                        <li>Collaborate with the team to define, design, and ship new features.</li>
                        <li>Ensure the performance, quality, and responsiveness of application.  </li>
                        <li>Do code review before merging a pull request.  </li>
                        <li>Project maintenance and bug fixes. </li>
                    </ul>
                </div>
            </div>
            <!-- Projects row -->
            <div id="projects_row">
                <h3 class="row_header">PROJECTS</h3>
                <div class="company_row">
                    <h4>Bell Mobile <span>(Quantrics Enterprises Inc.)</span></h4>
                    <span class="sub_description">
                        The award-winning MyBell app lets you manage all of your Bell services any time, anywhere, from the moment you order them.
                    </span>
                </div>
                <div class="company_row">
                    <h4>Virgin Mobile <span>(Quantrics Enterprises Inc.)</span></h4>
                    <span class="sub_description">
                        The My Account app lets you manage your account 24/7 from your phone. Pay your bill, check your usage, grab a travel pass and so much more.
                    </span>
                </div>
                <div class="company_row">
                    <h4>Lucky Mobile <span>(Quantrics Enterprises Inc.)</span></h4>
                    <span class="sub_description">
                        Lucky Mobile Network App services right from your phone.
                    </span>
                </div>
                <div class="company_row">
                    <h4>Templ <span>(Domestic Cat Software)</span></h4>
                    <span class="sub_description">
                        Fitness app that helps people get relief from pain and mobility problems due to musculoskeletal issues. It assists users in improving their overall health and being. The app features a list of programs, sessions, exercises, wellbeing and nutrition. The user can select a program and follow the exercise by playing the video.
                    </span>
                </div>
                <div class="company_row">
                    <h4>JINS (US) <span>(Cody Web Development  Inc.)</span></h4>
                    <span class="sub_description">
                        This application is used in a physical store (JINS Store). Think of a local eyewear shop where you are assisted by the staff and with the help of this app it helps finding the eyeglasses frame and other processes in the store in an instant. The app features searching for eyeglasses frame, creating an order, submitting the client’s eyeglasses prescription, and searching for the client’s orders.
                    </span>
                </div>
                <div class="company_row">
                    <h4>名刺DE請求 <span>(Cody Web Development  Inc.)</span></h4>
                    <span class="sub_description">
                        A business card management app. The app features a list of contacts, importing contacts from iPhone, Gmail, and Schecon (third party service), creating quotation and invoice and viewing it on a pdf viewer, sending quotation or invoice to selected contacts. It also offers job searching.
                    </span>
                </div>
                <div class="company_row">
                    <h4>MacheTalk <span>(Forty Degrees Celsius Inc.)</span></h4>
                    <span class="sub_description">
                        A live viewing application that allows you to have a "two-handed" conversation like a video call ♪ Enjoy real-time communication! It is similar to Twitch where you can go live and interact with  the viewers of your stream through chat. It also offers private messaging, audio call, and video call with other users you are connected with.
                    </span>
                </div>
                <div class="company_row">
                    <h4>MacheTalk Live <span>(Forty Degrees Celsius Inc.)</span></h4>
                    <span class="sub_description">
                        Live streaming app that makes friends with a little killing time! It is similar to Twitch but you are just a viewer of the stream or live broadcast and you can still interact with the broadcaster through chat. It also offers private messaging, audio call, and video call with other users you are connected with. It has in-app purchases to buy coins. A coin is used to view a live broadcast and send gifts.
                    </span>
                </div>
                <div class="company_row">
                    <h4>NativeCamp. <span>(Forty Degrees Celsius Inc.)</span></h4>
                    <span class="sub_description">
                        NativeCamp is an ESL online tutoring school in Japan. Lessons are provided via a unique language platform. NativeCamp is one of the rare online schools in the world that does not use Skype. Teachers usually use the browser (Chrome / Firefox) to do a lesson with a student. Students can use the browser or the application  (iOS / Android).
                    </span>
                </div>
            </div>
            <!-- Education row -->
            <div id="education_row">
                <h3 class="row_header">EDUCATION</h3>
                <div class="company_row">
                    <h4>Asian College of Technology, BSIT, <span>Cebu City Philippines</span></h4>
                    <span class="sub_description">2011 - 2015</span>
                </div>
            </div>
            <!-- Awards -->
            <div id="awards_row">
                <h3 class="row_header">AWARDS</h3>
                <div class="company_row">
                    <h4>Cum Laude <span>Asian College of Technology, Cebu City Philippines</span></h4>
                </div>
            </div>
        </div>
    </body>
</html>